@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Inria Sans Regular;
        src: url("/fonts/Inria Sans Light.woff2") format("woff2");
        font-weight: 300;
        font-display: swap;
        font-style: light;
    }
    @font-face {
        font-family: Inria Sans Light;
        src: url("/fonts/Inria Sans Light Italic.woff2") format("woff2");
        font-weight: 300;
        font-display: swap;
        font-style: italic;
    }
    @font-face {
        font-family: Inria Sans Regular;
        src: url("/fonts/Inria Sans Italic.woff2") format("woff2");
        font-weight: 400;
        font-display: swap;
        font-style: italic;
    }
    @font-face {
        font-family: Inria Sans Regular;
        src: url("/fonts/Inria Sans.woff2") format("woff2");
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
    @font-face {
        font-family: Inria Sans Regular;
        src: url("/fonts/Inria Sans Bold.woff2") format("woff2");
        font-weight: 700;
        font-display: swap;
        font-style: bold;
    }
    @font-face {
        font-family: Inria Sans Bold;
        src: url("/fonts/Inria Sans Bold Italic.woff2") format("woff2");
        font-weight: 700;
        font-display: swap;
        font-style: italic;
    }
}

@layer base {
    html {
        @apply font-inria;
    }
}

/* Type Writer */
@layer {
    .end-cursor:after {
        content: ".";
        @apply text-black;
    }

    .end-cursor.blinking:after {
        animation: blink 1s step-start infinite;
    }

    @keyframes blink {
        50% {
            opacity: 0;
        }
    }
}

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 16px;
    transition: all 0.5s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}
